services:
  workbench:
    container_name: carpentries-workbench
    image: carpentries/workbench-docker:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SANDPAPER_REF: ${SANDPAPER_REF}
        VARNISH_REF: ${VARNISH_REF}
        PEGBOARD_REF: ${PEGBOARD_REF}
    env_file:
      - .env

  workbench-local:
    image: carpentries/workbench-docker:${TAG:-latest}
    volumes:
      - workbench-lessons:/home/rstudio/lessons
    environment:
      WORKBENCH_PROFILE: "local"
      LESSON_NAME: "${LESSON_NAME}"
    env_file:
      - .env
    ports:
      - "8787:8787"
    entrypoint: ["/home/rstudio/local_entrypoint.sh"]

  workbench-ci:
    image: carpentries/workbench-docker:${TAG:-latest}
    environment:
      WORKBENCH_PROFILE: "ci"
    env_file:
      - .env

volumes:
  workbench-config:
    driver: local
  workbench-lessons:
    external: true
